language: node_js

node_js:
  - "node"
  - "6.4"
  - "5.4"
  - "5.3"
  - "4.2"
  - "4.0"
  - "iojs"
  - "0.12"
  - "0.10"

addons:
  code_climate:
    repo_token: 6fe7ec5e113ec323f8fa26f944877ebcfb19f9a0fa9e96fd07c1fe9367a302d6

after_script:
  - npm run coverage
  - codeclimate-test-reporter < coverage/lcov.info

jobs:
  include:
    - stage: npm release
      node_js: '6.4'
      script: echo "Deploying to npm ..."
      after_script: skip
      deploy:
        provider: npm
        email: vatev.1+npm@gmail.com
        api_key:
          secure: VsYIzPOG8zjjkdDipSi2Wc24JaNEVXFiK1NViyOrjnKOs3BsZIr6iW1rQFgqFjHixfFySsY6//x+3NNSxR69VHRZZ3wBce1Q6YtjuKz0rGQPD3KI6VHzOCL7Hur+xrf5ZOmlzKDwMWs+/SNdvxfluvJglMfZ7dQIx9L3fzEsYVWzixQwdK/5L6747LddfKYc1d0X37mtaf4f+MWpP76u24MoojHmO+vt8cPXz89+1LnmXZV7J7TsApZxVFGZo2dWRqRgcsJAUgFurlz25HY7vrMOtbXtqgJ3zoNDqPkbiQ6Cp49Dvbq8LXeVb6uQhrTN1tjiZN70Nfw9boF0u4tMu2el0XyXZDqrXBQRIL8xreePmFQng8SeNtrUAeKOJ/ojWBXeOTglIq8HHpdrZsH4nuXFgP2Qjg+cN/NEGzMwb6V7HY1hEB07d27sS39cHZvRNXPL6/vSm4SkCo5D3OpmYG0OMtA8iCGoDFQTJPG3Nu5pPwnEEVk0sSe8Mpri/op2G2xe+2pY1TGWzef5QZDXhYIMywI7eZM+6WwKgT0K4ob+NL9lsUnU+BJeZ2Rx2hhRJ2jyoagXpZ0TnS1xjS0laucQ4hKo7JLpBoM2fQ/t2OwT9OJknPNC7eusQs5/50Rp2qWPY7ybZJFGyqAf2cyoKQy/yMDEtUzOY/6l3XFAmkI=
        on:
          tags: true
          repo: catdad/hitime
