language: node_js
node_js:
  - "5.3"
  - "4.2"
  - "4.0"
  - "0.12"
  - "iojs"
  - "node"
addons:
  code_climate:
    repo_token: 6fe7ec5e113ec323f8fa26f944877ebcfb19f9a0fa9e96fd07c1fe9367a302d6
after_script:
  - npm run coverage
  - codeclimate-test-reporter < coverage/lcov.info